*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    padding: 1rem 0 0 2rem;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(201, 200, 200);
}
.overlay{
    
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%
}
.hidden{
    display: none;
}
.modal{
    background-color: white;
    width: 40%;
    position: sticky;

    top: 20vh;
    left:30vw ;
    padding: 1.5rem;
    border-radius: 8px;
}
.modal-content{
    text-align: center;
}
.modal-close{
    width: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(32, 32, 32);
    color: #fff;
    border: none;
    padding: .3rem;
    border-radius: 5px;
}
.grid-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,360px));
    gap: 1.5rem;
    padding: 2rem;
}
.card{
    display: flex;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    align-items: center;
    background-color: rgb(236, 236, 236);
    border: 1.5px solid rgb(161, 160, 160);
    border-radius: 5px;
}
.avatar{
    width: 30%;
    border-radius: 50%;
    padding-right: .5rem;
}
.text-container{
    font-size: .9rem;
}

.email{
    margin: .5rem 0;
}
.address{
    margin: .5rem 0;
}

hr{
    margin: 1.5rem 0;
}